.navbar {
  height: 100px;
  background-image: linear-gradient(90deg,#41b782,#86d169);
}

.product {
  display: flex;
  padding: 80px 50px;
}

.product__image {
  margin-right: 20px;
  border: 1px solid lightgray;
}

.product__image img {
  width: 200px;
  height: 200px;

}