<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product App</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="navbar"></div>
  <div id="app">
    <div class="product">
      <div class="product__image">
        <img v-bind:src="image" v-bind:alt="altText" width="200">
      </div>
      <div class="product__info">
        <h1>{{ product }}</h1>
        <p>{{description}}</p>
        <p v-if="inventory > 10">In stock</p>
        <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
        <p v-else>Out of stock</p>
        <span v-if="onSale">On Sale!</span>
        <br>
        <a v-bind:href="href">My Link</a>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/main.js"></script>
</body>
</html>